commands:
  install_numpy:
    command: python3.7 -m pip install numpy
  install_scipy:
    command: python3.7 -m pip install scipy
  install_tensorflow:
    command: python3.7 -m pip install tensorflow
  install_keras:
    command: python3.7 -m pip install keras
  install_pillow:
    command: python3.7 -m pip install pillow